*{
  margin: 0;
  padding: 0;
}
/*body{
  box-sizing: border-box;
}*/
header nav{
  background-color: black;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
header nav span{
  color: #ffff;
  padding: 0 30px;
  font-size: 40px;
}
header nav ul{
  display: flex;
  list-style: none;
  float: right;
  font-size: 20px;
}
header nav ul li{
  padding: 0 30px;
}
header nav ul a{
  text-decoration: none;
  color: orange;
}

/*img {
  height: 100vh;
  width: 100%;
 }

/*.first{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  height: 100vh;
  width: 100%;
}
.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: orange;
  font-size: 30px;
  position: absolute;
  top: 250px;
  padding: 0 70px;
  letter-spacing: 2px;
}
.text p{
  text-align: center;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}*/

.home{
  position: relative;
}
.home .first{
  position: relative;
}
.home .first img{
  width: 100%;
  /*opacity: 0.5;*/
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
.home .first .next, .home .first .pre{
  position: absolute;
  font-size: 2rem;
  padding: 20px;
  cursor: pointer;
  top: 250px;
  color: orange;
  border-radius: 20px;
}
.home .first .next{
  right: 0;
}
.home .first .next:hover, .home .first .pre:hover{
  cursor: pointer;
  background-color:  #4da6ff;
}
.home .first .text{
  color: orange;
  font-size: 30px;
  position: absolute;
  top: 250px;
  padding: 0 70px;
  letter-spacing: 2px;
}
.second{
  position: relative;
  align-items: center;
  border: 1px solid orange;
  height: 600px;
}
.heading{
  text-align: center;
  padding: 2px 0px;
}
.heading span{
  letter-spacing: 3px;
  color: orange;
}
.image{
  padding: 0px 20px;
}
.imgge img{
  left: 10px;
}
.bookme{
  position: absolute;
  top: 0px;
  left: 0px;
  color: orange;
}
.bookme table{
  position: relative;
  top: 0px;
  left: 690px;
  font-size: 20px;
  padding: 100px;
}
.bookme table input{
  padding: 5px;
  padding-right: 200px;
  margin: 20px;
}
.btn button{
  position: relative;
  border-radius: 24px;
  font-size: 20px;
  color: orange;
  padding: 10px 10px;
  top: -80px;
  left: 850px;
}
.btn button:hover{
  cursor: pointer;
  background-color: orange;
  color: white;
}

.forth{
  position: relative;
  align-items: center;
}
.forth h1{
  text-align: center;
  color: orange;
  padding: 20px;
}
.box2{
  flex: 1 1 20rem;
  border-radius: 22px;
  overflow: hidden;
  /*box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1.0);*/
  border: 1px solid black;
  text-align: center;
  padding: 50px 0;
    font-size: 2rem;
}
.box2 i{
  font-size: 2rem;
  color: orange;
  cursor: pointer;
}
.box2 i:hover{
  padding: 10px 10px;
  color: red;
}


.packages{
  position: relative;
  align-items: center;
  text-align: center;
  background-color: #e6e6e6;
}
.packages span{
  color: orange;
  font-size: 35px;
}
.packages h1{
  padding: 2px 0;
  color: #4da6ff;
  letter-spacing: 3px;
  font-size: 2rem;
}
.box-container1{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.box5{
  position: relative;
  flex: 1 1 20rem;
  /*border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1.0);*/
  box-sizing: 0 1rem 2rem;
  padding: 50px 0;
  font-size: 2rem;
  height: 300px;
}
.box-container1 img{
  object-fit: cover;
  width: 300px;
  border-radius: 22px;
}
.box-container1 h3{
  font-size: 2.5rem;
  color: black;
}
.box-container1 p{
  font-size: 1.5rem;
  color: black;
}
.box6{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
}
.box6 p{
  color: white;
}
.box6 h4{
  color: white;
}
.box6 span{
  color: white;
}
.box6 .stars i{
  color: white;
}
/*.box6 button{
  margin: 20px;
  padding: 10px 50px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
}
.box6 button:hover{
  background-color: white;
  color: #4da6ff;
}*/
.box6 a{
  margin: 30px;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}
.box6 a:hover{
  background-color: white;
  color: #4da6ff;
}

.gallery{
  position: relative;
}
.gallery h1{
  padding: 20px;
  color: orange;
  text-align: center;
  text-decoration: none;
}
.box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 20px;
}
.box{
  flex: 1 1 20rem;
  border-radius: 2rem;
  overflow: hidden;
  /*box-shadow: 0 1rem 2rem rgba(0, 0, 0, 1.0);*/
  height: 60vh;
}
.box img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*----Review-----*/

.Testomonials{
      padding: 40px 0;
      background: #f1f1f1;
      color: #434343;
      text-align: center;
    }
    .inner{
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
      padding: 0 20px;
    }
    .border{
      width: 160px;
      height: 5px;
      background: #6ab04c;
      margin: 26px auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .col{
            /*border-radius: .5rem;*/
      flex-wrap: 33.33%;
      max-width: 33.33%;
      box-sizing: border-box;
      padding: 15px;
    }
    .Testomonial{
      background: #fff;
      padding: 30px;
    }
    .Testomonial img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .name{
      font-size: 20px;
      text-transform: uppercase;
      margin: 20px 0;
    }
    .stars{
      color: #6ab04c;
      margin-bottom: 20px;
    }


/*----------footer-----------*/

.footer{
  position: relative;
  top: 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.box7-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.box7{
  flex: 1 1 10rem;
  padding: 1rem 4.5rem;
}
.box7 h3{
  font-size: 1.5rem;
  color: orange;
}
.box7 p{
  font-size: 1.1rem;
  color: orange;
}
.box7 a{
  display: block;
  font-size: 1.1rem;
  color: orange;
}
.box7 a:hover {
  color: red;
  text-decoration: underline;
}
.footer1{
  text-align: center;
  color: white;
  font-size: 1.5rem;
} 